/* General body styling */
body {
  height: 100vh;
  background-color: #333;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff; /* Ensure text color is visible against dark background */
}

/* Header styling */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

/* Header logo styling */
.header .logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Header logo span styling */
.header .logo span {
  color: #007bff;
}

/* Navbar styling */
.header .navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header .navbar a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
}

.header .navbar a:hover {
  color: #007bff;
}

/* Login button styling */
.login-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
}
.login-button:hover {
  background-color: #0056b3;
}

/* Navbar toggle button styling */
.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Dropdown menu styling */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  display: block;
}

.dropdown_menu a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Ensure dropdown menu text is visible */
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar {
    display: none;
  }

  .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: auto;
  }
}

/* Link styling */
a {
  text-decoration: none;
  color: #0056b3; /* Ensure links are visible */
  font-size: 1rem;
}

a:hover {
  color: #6b04a7;
}

/* Utility styles for action buttons */
.action_btn {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.action_btn:hover {
  transform: scale(1.05);
}

.action_btn:active {
  transform: scale(0.95);
}

/* List item reset */
li {
  list-style: none;
}
